
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');



body{
    direction:rtl;
    font-family:"Tajawal",sans-serif;
    text-align: right;
}

:root{
--maincolor:#ffc107;
}
.clear{
    clear: both;
}
.seaction{
    padding: 80px 0px;
}
.navbar{
    box-shadow: 1px 2px 5px #ebebeb;
}
/* seaction Home */
.seaction-Home{
    height: 600px;
    background-size: cover;
    background-image: url('../img/choose-us-img-2.jpg');
    padding: 1px;
}
.home-item{
    width: 50%;
    margin-right: auto;
    margin-top: 15%;

}
.home-item h2{
    color: #fff;
    font-size: 45px;
}
.home-item p{
    color: #fff;
    font-size: 20px;
}
.seaction-title{
    position: relative;
    display: inline-block;
}
.seaction-title::after{
    display: block;
    width: 120px;
    position: absolute;
    bottom: -10px;
    content: "";
    height: 5px;
    background-color:var(--maincolor);
}
@media(max-width:768px){
    .home-item{
        width: 100%;
    }
    .seaction-Home{
        height: 400px;
    }
}

.about__item p{
    margin: 50px 0px;
}
.about__item button{
    margin-bottom: 15px;
}


/* seaction news */

.news  .news-left{
    display: flex;
    align-items: center;
}
.news .news-left img{
    max-width: 200px;
    margin-left: 10px;
}


/* seaction icon */
.single-icon {
    background: #ffc527 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 38px;
    height: 80px;
    left: 0;
    line-height: 85px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 80px;
}
@media (min-width: 1200px)
{
.container {
    max-width: 1140px;
}
}

/* seaction container */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.single-icon {
    right: 0;
    left: auto;
}
.who-heading {
    color: #fff;
    font-size: 36px;
    text-align: center;
    text-shadow: 0 0 7px #333;
    text-transform: uppercase;
}
.who-we-are {
    height: 600px;
    background-size: cover;
    background-color: #ddd;
    background-position: center center;
    padding: 80px 0;
}

.who-we-are-bg {
    background-image: url('../img/frgt.jpg.jpg');
}
.play-btn {
    background: #fff9 none repeat scroll 0 0;
    border-radius: 100%;
    display: inline-block;
    color: #ffc527;
    font-size: 70px;
    height: 140px;
    line-height: 140px;
    margin: -40px auto 0;
    padding-left: 12px;
    text-align: center;
    width: 140px;
}
.play-btn:hover, .play-btn:focus {
    background: #ffc527;
    color: #fff;
}

a:hover {
    text-decoration: none;
}

/* seaction - portfie */

.section-title>h2 {
    text-align: right;
}
.profile-img>img {
    background-position: center center;
    background-size: cover;
}
img {
    vertical-align: middle;
    border-style: none;
}
.testimonial-card>p {
    font-style: italic;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.testimonial-card {
    padding-right: 100px;
    padding-left: 0;
    text-align: right;
}
.profile-img img{
    border: 5px solid black;
    width: 70px;
    border-radius: 5px black;
    box-sizing: border-box;
}

/* subscride */

.subscride{
    height: 450px;
    background-image: url('../img/asstion.jpg.jpg');
    background-size: cover;
    padding: 1px;
    position: relative;
}
.subscride-item{

    width: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50% , -50%);
    color: #fff;
}
.subscride-item h2{
    font-size: 45px;
}

.subscride-item .form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subscride-item input{
    width: 80%;
}
.subscride-item button{
    width: 15%;
}




.card-preview {
    height: 182px;
    margin-bottom: 20px;
    background-size: cover;
    background-color: #ddd;
    background-position: center center;
}

.blog-bg-1 {
    background-image: url('../img/rety.jpg.jpg');
}

.blog-bg-2 {
    background-image: url('../img/derf.jpg.jpg');
}
.blog-bg-3{
    background-image: url('../img/wqer.jpg.jpg');
}
.post-content .post-title a {
    color: #222;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.post-readmore:hover {
    color: #ffc527;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.post-readmore{
    color: black;
    text-decoration: none;
}

.post-content {
    background: #f2f2f2 none repeat scroll 0 0;
    padding: 20px;
}
.post-content {
    text-align: right;
}


.single-boxed .card-preview {
    margin-bottom: 0;
}

/* footer */

.footer-top-area, .footer-top-area a {
    color: #cacaca;
}

.footer-top-area {
    background: #071c33 none repeat scroll 0 0;
}
.footer-copyright-area {
    background: #04101e none repeat scroll 0 0;
    color: #838d99;
    padding: 15px 0;
}
.footer-wid {
    padding: 80px 0;
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.footer-wid {
    text-align: right;
}
.footer-wid.footer-menu li {
    line-height: 0;
    margin-bottom: 14px;
}
li {
    text-align: -webkit-match-parent;
}
.footer-wid ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}


.footer-wid.footer-menu a {
    color: #ffc527;
    text-transform: capitalize;
}

.footer-wid {
    text-align: right;
}
.footer-wid {
    padding: 80px 0;
}

div {
    display: block;
}
.footer-top-area, .footer-top-area a {
    color: #cacaca;
}
.single-footer-iem>p {
    color: #ffc527;
    line-height: 15px;
    margin: 0 0 5px;
}
.footer-top-area a:hover, .footer-copyright-area a:hover {
    opacity: .8;
}

.footer-top-area, .footer-top-area a {
    color: #cacaca;
}
a:hover {
    text-decoration: none;
}
a{
    text-decoration: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.footer-copyright-area a {
    color: #838d99;
    text-decoration: none;
    cursor: pointer;
}
.footer-copyright-area a:hover{
    text-decoration: none;
    cursor: pointer;
    color: #838d99;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.subscribe input {
    border: medium #0000;
    border-radius: 100px;
    height: 45px;
    padding: 0 14px;
    width: 100%;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button{
    background-color: #ffc107;
}

.footer-wid.footer-menu a {
    color: #ffc527;
    text-transform: capitalize;
}

.footer-top-area a:hover, .footer-copyright-area a:hover {
    opacity: .8;
}
.footer-top-area, .footer-top-area a {
    color: #cacaca;
}
a:hover {
    text-decoration: none;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
a {
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    color: #337ab7;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: #0000;
}


a:-webkit-any-link:active {
    color: -webkit-activelink;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.footer-wid.footer-menu li {
    line-height: 0;
    margin-bottom: 14px;
}
li {
    text-align: -webkit-match-parent;
}
.footer-wid ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.index.html a{
    text-decoration: none;
}

.footer-top-area, .footer-top-area a {
    color: #cacaca;
}
.footer-wid-title {
    color: #fff;
    font-size: 18px;
    margin: 0 0 25px;
}
#back-to-top .fa.fa-fighter-jet {
    transform: rotate(
-90deg
);
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.single-footer-iem>img {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
img {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}
.single-footer-iem{
    text-decoration: none;
}
.footer-wid-title{
    text-decoration: none;
}

.footer-widfooter-menu{
    text-decoration: none;
}
.footer-wid {
    text-align: right;
}
.footer-wid {
    padding: 80px 0;
}
.single-footer-iem>img {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
.footer-top-area, .footer-top-area a {
    color: #cacaca;
}
.single-footer-iem {
    border-bottom: 1px solid #2e4155;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
@media (min-width: 992px)
{
.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
}
.footer-wid {
    text-align: right;
}

.footer-wid {
    padding: 80px 0;
}
div {
    display: block;
}
.footer-top-area, .footer-top-area a {
    color: #cacaca;
}
.footer-wid.footer-menu a {
    color: #ffc527;
    text-transform: capitalize;
    text-decoration: none;
}


ul,li{
    list-style: none;
    text-decoration: none;

}

a{
    text-decoration: none;

}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    text-decoration: none;
}
.footer-copyright-area {
    text-align: right;
}
.footer-copyright-area {
    background: #04101e none repeat scroll 0 0;
    color: #838d99;
    padding: 15px 0;
}
#back-to-top.show {
    opacity: 1;
}
#back-to-top {
    left: 40px;
    right: auto;
}
#back-to-top {
    background-color: #444;
    border: 0 none;
    border-radius: 2px;
    bottom: 58px;
    color: #ffc527;
    cursor: pointer;
    font-size: 27px;
    height: 45px;
    line-height: 44px;
    opacity: 0;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
    position: fixed;
    right: 40px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.3s ease-out 0s;
    -webkit-transition: opacity 0.3s ease-out 0s;
    width: 45px;
    z-index: 99;
}